$spacing: 3em;
$padding: $spacing / 2;

.trailer-app {
    margin: 0 auto;
    width: 70%;

    @media (max-width: 800px) {
        width: 85%;
    }
}

.trailer-overview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.trailer-main {
    display: flex;

    img {
        width: 60%;
        max-width: 300px;
        border-radius: 20px;
        box-shadow: 17px 26px 44px -16px rgba(0,0,0,0.51);
    }

    h1 {
        padding-left: 25px;
    }

    h3 {
        padding-left: 25px;
        color: lightgrey;
        margin-top: -15px;
    }
}

.trailer-search {
    input {
        width: 60%;
        padding: 10px;
        color: #333333;
        border-radius: 0.5rem;
    }

    @media (max-width: 700px) {
        input {
            width: 100%;
        }
    }
}

.trailer-list-item {
    margin-left: -30px;
}
//480px display flex

.trailer-items {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    grid-gap: 0;

    margin: ($padding / 2) (-$padding / 2);

    &::after {
        content: '';
    }
}

.trailer-list {
    margin-top: 30px;
    margin-bottom: 30px;

    img {
        width: 100%;
        max-width: 200px;
        border-radius: 20px;
        box-shadow: 17px 26px 44px -16px rgba(0,0,0,0.51);
    }

    h3 {
        color: lightgrey;
        margin-top: -15px;
    }
}

.trailer-dialog {
    position: fixed;
    display: none;
}
