.TrailerHead-card {
    img {
        width: 100%;

        position: fixed;

        top: 0;
        left: 0;
    }
}

.TrailerHead-back {
    z-index: 1;
    position: fixed;
    background-color: transparent;
    font-size: 1.5em;
    margin-top: 5px;
}

.TrailerHead-infobox {
    position: fixed;
    background-color: #0b0b0b;
    border-radius: 50px 50px 0 0;

    bottom: 0;
    left: 0;
    width: 100%;

    h1 {
        padding-left: 50px;
    }

    h3 {
        margin-top: -20px;
        opacity: 0.6;
        padding-left: 50px;
    }

    p {
        padding-left: 50px;
    }

    button {
        margin: 0 auto;
        background-color: #E11A37;
        border: 0;
        font-size: 1.3em;
        padding: 15px;

        border-radius: 10px;
    }
}

.trailer-button {
    text-align: center;
    padding-left: 20px;
}