.TrailerHead-card {
    img {
        width: 100%;

        position: fixed;

        top: 0;
        left: 0;
    }
}

.TrailerHead-back {
    z-index: 1;
    position: absolute;
    background-color: transparent;
    font-size: 1.5em;
    margin-top: 5px;
    left: -20px;
}

.TrailerHead-infobox {
    position: fixed;
    background-color: #0b0b0b;
    border-radius: 40px 40px 0 0;

    bottom: 0px;
    left: 0;
    width: 100%;

    h1 {
        padding-left: 33px;
    }

    h3 {
        margin-top: -20px;
        opacity: 0.6;
        padding-left: 33px;
    }

    p {
        padding-left: 33px;
    }

    button {
        background-color: #E11A37;
        border: 10px;
        font-size: 1.3em;
        padding: 15px;

        border-radius: 10px;

        margin-left: 33px;

        margin-bottom: 15px;
    }
}
